# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Python cache
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy / type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# dotenv
.env
.env.*

# pyenv
.python-version

# PEP 582; used by some tools like `pdm`
__pypackages__/

# local tools
*.sqlite3
*.db
*.DS_Store
